@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
}

*,
a,
button {
  cursor: default;
  user-select: none;
}

a[target='_blank'],
a[target='_blank'] * {
  cursor: pointer;
}
